body {
    font-size: large;
    text-align : center;
    justify-content: center;
    align-items: center;
}

.style-table {
    margin: auto;
    width: 600px;
    border-collapse: collapse;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 1px solid #305A72;
}


.style-row {
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #30302f;
    text-align: left;
    margin-bottom: 5px;
    height: 40px;
}


tr:hover {
    background-color: rgb(190, 171, 164);
}